[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
requests = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.11"
