@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* --color-primary: #6C9BCF; */
    --color-primary: #569DC9;
    --color-primary-light: #6c9acf8e;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-detail: #91B7C7;
    --color-white: #fff;
    --color-heading: #F1F0F6;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 186, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #26335D;
    --color-form: #30365f;
    --color-input: #373f6d;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1rem;
    --box-shadow: 2px 4px 10px 1px rgba(189, 188, 188, 0.212);
    --box-shadow2: 2px 4px 10px 1px rgba(146, 143, 143, 0.212);
    --box-shadow3: 2px 4px 10px 1px rgba(84, 86, 87, 0.603);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-image: url('/images/pattern background-3.png'); */
    background: var(--color-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* =========================================INDEX */

.home-container {
    background: var(--color-primary);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem 1.5rem 6rem;
    /* background-color: var(--color-white); */
    /* box-shadow: var(--box-shadow) */
}

.brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 700;
}

.links {
    display: flex;
    font-size: 1rem;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: var(--color-heading);
    /* padding: 0.5rem 1rem; */
    /* font-weight: 500; */
    transition: background-color 0.3s;
}

/* .links a:hover {
    color: var(--color-dark);
} */

.links a.active {
    color: var(--color-warning);
    position: relative;
}

.links a.active::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--color-warning);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -12px; /* Adjust this value based on your design */
    transform: translateY(-50%);
}

.member-menu {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropbtn .material-icons-sharp {
    margin-right: 0.5rem;
}

.dropbtn:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-primary);
    min-width: 160px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content span {
    color: var(--color-white);
    font-size: 0.8rem;
    padding: 12px 16px;
    display: block;
}

.dropdown-content span:hover {
    font-weight: bold;
}

.member-menu:hover .dropdown-content {
    display: block;
}

.home-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem 2rem 6rem;
    position: relative;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%) rotate(0deg);
    }
    to {
        transform: translateX(0) rotate(5deg);
    }
}
@keyframes slideInRight2 {
    from {
        transform: translateX(100%) rotate(0deg);
    }
    to {
        transform: translateX(0) rotate(45deg);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%) rotate(0deg);
    }
    to {
        transform: translateX(0) rotate(45deg);
    }
}

.image1 {
    position: absolute;
    top: 0;
    right: 5%;
    max-width: 50%;
    height: auto;
    transform: rotate(5deg);
    animation: slideInRight 1s ease-out;
}

.image2 {
    position: absolute;
    bottom: 0;
    left: 7%;
    max-width: 25%;
    height: auto;
    transform: rotate(45deg);
    z-index: 1;
    animation: slideInLeft 1s ease-out;
}

.image3 {
    position: absolute;
    top: 45%;
    right: 2%;
    min-width: 10%;
    max-width: 25%;
    height: auto;
    transform: rotate(45deg);
    z-index: 1;
    animation: slideInRight2 1s ease-out;
}

.image4 {
    position: absolute;
    top: 10%;
    left: 3%;
    max-width: 25%;
    height: auto;
    z-index: 0;
    animation: slideInLeft 1s ease-out;
}

.home-heading-container {
    text-align: center;
    z-index: 1;
}

.home-heading {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
    font-size: 4rem;
    font-weight: 800;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    color: var(--color-heading);
    font-size: 1rem;
    margin-top: 2rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.action-button{
    padding: 15px 45px;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: var(--color-warning);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.member-button {
    font-family: 'Poppins', sans-serif;
    padding: 15px 45px;
    font-size: 0.9rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-warning);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: var(--color-dark);
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
}

.member-button:hover {
    border: 1px solid var(--color-dark);
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
}

/* ====================================== MEMBER */

.user-icon {
    font-size: 2rem;
    color: var(--color-danger);
    background-color: var(--color-light);
    border-radius: 10px;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.members-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 6rem 2rem 6rem;
    /* margin-bottom: 7rem; */
}

.member-heading {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0 3rem 0;
    width: 100%;
}

.member-subheading {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem 0 0 0;
    width: 100%;
}

.member-card {
    width: 140px;
    padding: 2rem;
    margin-right: 1rem;
    /* box-shadow: var(--box-shadow); */
    background-color: var(--color-white);
    /* text-align: center; */
}

.member-card h3 {
    margin-bottom: 1rem;
    color: var(--color-dark);
}

.member-line {
    border: 1px solid var(--color-danger);
    width: 80px;
    margin-bottom: 1rem;
    margin-left: 0;
}

.member-card p {
    margin: 0;
    color: var(--color-info-dark);
}

.members-section .member-card:nth-child(odd) {
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.members-section .buttons-container .action-button {
    font-family: 'Poppins', sans-serif;
    padding: 15px 45px;
    font-size: 0.9rem;
    background: var(--color-warning);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2rem 0 2rem 0;
}

.members-section .buttons-container .action-button:hover {
    background-color: var(--color-warning);
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
}

/*========================================= Dengue */
.container {
    /* background: var(--color-primary); */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}

.viz-content {
    flex-grow: 1;
    padding: 0 6rem 0 6rem;
}

.page-subheading {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
}

.page-heading {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
    font-size: 2.2rem;
    font-weight: 700;
    margin: 1rem 0 1rem 0;
}

.overview {
    color: var(--color-heading);
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}

.page-content {
    display: flex;
    justify-content: space-between;
}

.columns-container {
    display: flex;
}

.narration-column {
    flex: 1;
    margin-right: 1rem;
}

.narration-display {
    padding: 1rem;
    background-color: var(--color-input);
    border-radius: 5px;
    justify-content: center;
}

.narration-hr {
    border: 1px solid var(--color-danger);
    width: 100px;
    margin-bottom: 1rem;
    margin-left: 0;
}

.narration-display p {
    color: var(--color-heading);
    font-size: 0.8rem;
}

.form-column {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.form-display {
    padding: 1rem;
    background-color: var(--color-input);
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.form-display form {
    display: flex;
}

/* .form-display label {
    margin-right: 0.5rem;
} */

.form-display input,
.form-display select {
    border: none;
    width: 150px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    margin-right: 1rem;
    padding: 0 1rem;
    background-color: var(--color-form);
    color: var(--color-heading);
}

.form-display option{
    background-color: var(--color-white);
    color: var(--color-dark);
    font-size: 0.8rem;
}

.form-display button {
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    font-size: 0.7rem;
    background-color: var(--color-warning);
    color: var(--color-white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-display button:hover {
    background-color: var(--color-primary-light);
}

.form-display input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.custom-select {
    position: relative;
}

.custom-select select {
    padding: 0.5rem 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-display .custom-select .material-icons-sharp {
    position: absolute;
    font-size: 1rem;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-heading);
}

.chart-column {
    margin-bottom: 2rem;
    background-color: var(--color-white);
    border-radius: 5px;
    height: 520px;
}

.chart-display {
    /* padding: 1rem; */
    padding-top: 1rem;
    width: 100%;
}

/* ======================================== Pizza Hut */
.form-geo {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.form-geo-display {
    padding: 1rem;
    background-color: var(--color-input);
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.form-geo-display form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .form-display label {
    margin-right: 0.5rem;
} */

.form-geo-display input,
.form-geo-display select {
    border: none;
    width: 150px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    margin-right: 1rem;
    padding: 0 1rem;
    background-color: var(--color-form);
    color: var(--color-heading);
}

.form-geo-display option{
    background-color: var(--color-white);
    color: var(--color-dark);
    font-size: 0.8rem;
}

.form-geo-display button {
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    font-size: 0.7rem;
    background-color: var(--color-warning);
    color: var(--color-white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-geo-display button:hover {
    background-color: var(--color-primary-light);
}

.form-geo-display input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-geo-display .custom-select {
    position: relative;
}

.form-geo-display .custom-select select {
    padding: 0.5rem 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-geo-display .custom-select .material-icons-sharp {
    position: absolute;
    font-size: 1rem;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-heading);
}

.chart-geo-column {
    margin-bottom: 2rem;
    height: 500px;
    background-color: var(--color-white);
    border-radius: 5px;
}

.chart-geo-display {
    padding: 1rem;
    width: 100%;
}

.more-hr {
    border: 1px solid var(--color-danger);
    width: 80%;
    margin-bottom: 1rem;
    justify-content: center;
}
