@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* colors */
  --foreground-green: #2ecc71;
  --foreground-purple: #9b59b6;
  --foreground-black: #1a2236;
  --light-green: #d2f5e0;
  --light-purple: #cbcbf6;
  --light-blue: #edf2fb;
  --light-red: #f4c2c2c7;
  --grid: #f0f0f0;
  --bg: #f6f7f9;
  --light: #fff;

  --blue: #407bff;
  /* --red: #cd5c5c; */
  --red: #ee204e;
  --bg-red: #f4c2c2;
  --yellow: #ffba00;
  --bg-yellow: #fffacd;
  --green: #228b22;
  --bg-green: #d0f0c0;

  /* text colors */
  --dark: #1f1f1f;
  --dark-light: #1e263b;
  --dark-lighter: #2a3348;
  --text-color: #49597e;
  --dark-grey: #8d8d8d;

  /* shadows */
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --box-shadow2: 0 0 1.5rem rgba(0, 0, 0, 0.1);

  /* fonts and sizes */
  /* --- .5rem = 8px, 1rem = 16px --- */
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --h1--font: 3rem;
  --h3-font: 2rem;

  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* height */
  --header-height: 3rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ==================== BASE */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ==================== reusable css classes */
/* uniform padding and margin */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* section {
  margin-top: 6rem;
} */

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--foreground-black);
  box-shadow: var(--box-shadow);
  z-index: var(--z-fixed);
}

/* nav */
.nav {
  height: var(--header-height);
}

.nav-data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav-data .logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--foreground-purple);
} */

.nav-logo {
  color: var(--light);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
  font-size: 1.25rem;
}

.nav-logo i {
  margin-right: 5%;
  color: var(--light);
  /* font-weight: initial; */
}

/* .nav-logo:hover {
  color: var(--light-purple);
} */

.nav-toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.toggle-open,
.toggle-close {
  position: absolute;
  width: max-content;
  height: max-content;
  font-size: 1.25rem;
  color: var(--light);
  display: grid;
  /* place-items: center; */
  inset: 0;
  margin: auto;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.toggle-close {
  opacity: 0;
}

img {
  display: flex;
  width: 100%;
}

.main-section {
  margin-top: 7rem;
}

/* .viz,
.analytics {
  margin-bottom: 5rem;
} */

/* headings */
/* ================================ viz */

.heading-text span {
  font-size: 14px;
  font-weight: 500;
  color: var(--blue);
  letter-spacing: 1px;
}

.heading-text h3 {
  font-weight: 600;
  margin: 0.5rem 0;
  font-size: var(--h3-font);
}

.heading-text p {
  font-size: var(--smaller-font-size);
  color: var(--dark-grey);
  text-align: justify;
}

/* ================================ analytics */
.analytics .heading-text span {
  color: var(--red);
}

/* ================================ viz and analytics page */
/* input fields */
.form-card form {
  /* grid */
  padding-top: 2rem;
}

.form-card .form-content {
  display: flex;
  flex-direction: column;
}

.select-menu {
  position: relative;
}

.select-btn,
button {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 0 1rem;
  margin-top: 0.5rem;
  font-size: var(--small-font-size);
  border: 0.1rem solid var(--grid);
  border-radius: 0.4rem;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  transition: 0.3s;
}

input[type="date"] {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 0 1rem;
  border: 0.1rem solid var(--grid);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.select-menu select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: none; /* Remove default arrow icon */
  background-color: #fff; /* Add background color */
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%; /* Ensure select box takes full width */
}

/* Style the custom arrow icon */
.select-menu i {
  position: absolute;
  top: 50%;
  right: 1rem; /* Adjust position as needed */
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: normal;

  pointer-events: none; /* Ensure the icon doesn't interfere with click events */
}

.select-menu:focus-within .select-btn,
input[type="date"]:focus {
  border: 0.1rem solid var(--dark);
  outline: none;
}

.select-btn i {
  font-size: 1.2rem;
  font-weight: normal;
}

.select-text {
  font-weight: normal;
}

.select-menu .options {
  position: absolute;
  height: 35vh;
  padding: 0.5rem;
  width: 100%;
  background: var(--light);
  box-shadow: var(--box-shadow);
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  overflow-y: auto;
  z-index: 1;
  display: none;
}

.select-menu.active .options {
  display: block;
}

.options .option {
  display: flex;
  height: 35px;
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 0.4rem;
  align-items: center;
}

.options .option:hover {
  background: var(--grid);
}

.option .option-text {
  font-size: var(--small-font-size);
  font-weight: normal;
}

/* buttons */

button {
  font-family: var(--body-font);
  background-color: var(--blue);
  color: var(--light);
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button i {
  margin: 0 0.5rem;
}

button:hover {
  background: var(--light-blue);
  color: var(--blue);
}

.analytics button {
  background: var(--red);
}

.analytics button:hover {
  background: var(--light-red);
  color: var(--red);
}

/* ============================= CUSTOM CSS */
/* =================== home page */
.main {
  display: grid;
  gap: 2.5rem;
  overflow: hidden;
  margin-top: 6.5rem;
}

.main-image img {
  max-width: 500px;
  margin-inline: auto;
}

.main-content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: var(--font-semi-bold);
  /* line-height: 4.5rem; */
  text-align: center;
}

.main-content p {
  color: var(--dark-grey);
  line-height: 1.5rem;
  text-align: justify;
}

.main-content .viz-span {
  color: var(--blue);
}

.main-content .analytics-span {
  color: var(--red);
}

/* cards */
.cards h2 {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  font-weight: var(--font-semi-bold);
}

.cards-grid {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.card {
  padding: 1rem 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.card h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.card p {
  margin-bottom: 0.5rem;
  font-size: var(--small-font-size);
  text-align: justify;
}

.card:nth-child(odd) {
  background: var(--light-red);
}

.card:nth-child(even) {
  background: var(--light-blue);
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease-in-out;
}

.card img {
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: 1rem;
}

/* footer */
.footer {
  box-shadow: var(--box-shadow);
  margin-top: 4rem;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.footer p {
  font-size: var(--small-font-size);
  color: var(--dark-grey);
}

.row .social-icons i {
  color: var(--dark);
  font-size: 1.5rem;
  margin: 0;
  transition: 0.5s;
}

.row .social-icons i:hover {
  color: var(--blue);
}

/* ==================== viz page */
.line-section {
  display: grid;
  /* height: 80vh; */
  grid-template-columns: 30% auto;
  margin: 1rem 0 2rem 0;
  grid-gap: 1rem;
}

.form-card,
.graph-card {
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
}

/* .graph-content {
  margin-bottom: 1rem;
} */

.narration {
  background: var(--grid);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-size: var(--smaller-font-size);
}

/* analytics */

/*==================== navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav-menu::-webkit-scrollbar {
    width: 0;
  }

  .nav-list {
    background: var(--foreground-black);
    padding-top: 1rem;
  }
}

.nav-link {
  color: var(--light);
  background: var(--foreground-black);
  font-weight: normal;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}

.nav-link:hover {
  background: var(--dark-light);
}

.active {
  font-weight: 900;
}

/* show menu */
.show-menu {
  opacity: 1;
  top: 3rem;
  pointer-events: initial;
}

/* show icon */
.show-icon .toggle-open {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*==================== dropdown */
.dropdown-item {
  cursor: pointer;
}
.dropdown-arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown-link,
.dropdown-sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--light);
  background: var(--dark-light);
  display: flex;
  align-items: center;
  font-size: var(--smaller-font-size);
  column-gap: 0.5rem;
  font-weight: normal;
  transition: background 0.3s;
}

.dropdown-link i,
.dropdown-sublink i {
  font-size: 1.25rem;
  font-weight: normal;
}

.dropdown-link:hover,
.dropdown-sublink:hover {
  background: var(--foreground-black);
}

.dropdown-subitem .dropdown-link.active,
.dropdown-sublink.active {
  font-weight: 900;
}

.dropdown-menu,
.dropdown-submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* show dropdown menu & submenu */
.dropdown-item:hover .dropdown-menu,
.dropdown-subitem:hover > .dropdown-submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* rotate dropdown icon */
.dropdown-item:hover .dropdown-arrow {
  transform: rotate(180deg);
}

/* dropdown submenu */
.dropdown-add {
  margin-left: auto;
}

.dropdown-sublink {
  background: var(--dark-lighter);
}

/* =================== breakpoints */
/* for small devices */
/* 340px */
@media screen and (width <= 450px) {
  .container {
    margin-inline: 1rem;
  }

  .nav-link {
    padding-inline: 1rem;
  }

  /* home page */
  .main-section {
    margin-top: 4rem;
  }

  .main-content h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }

  .main-content h1,
  .main-section p {
    text-align: center;
  }

  .cards h2 {
    margin-top: 5rem;
  }

  .cards-grid {
    margin-bottom: 5rem;
  }

  /* headings */

  .heading-text {
    margin-top: 1rem;
  }

  .heading-text h3 {
    margin: 0.3rem 0;
  }
  .heading-text p {
    text-align: justify;
  }

  /* visualization */
  .line-section {
    grid-template-columns: 100%;
  }
}

/* for small devices */
/* cards reponsive */
@media screen and (width >= 900px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 0 auto;
  }
}

@media screen and (width <= 800px) {
  .cards-grid {
    gap: 2rem;
  }

  /* visualization */
  .line-section {
    grid-template-columns: 100%;
    height: auto;
  }

  button {
    margin: 1rem 0 2rem 0;
  }
}

/* for large devices */

@media screen and (width >= 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }

  .nav-link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }

  .nav-link:hover {
    background: transparent;
  }

  .dropdown-item,
  .dropdown-subitem {
    position: relative;
  }

  .dropdown-menu,
  .dropdown-submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown-link,
  .dropdown-sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown-subitem .dropdown-link {
    padding-inline: 1rem;
    font-weight: normal;
  }

  .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* show dropdown menu */

  .dropdown-item:hover .dropdown-menu {
    opacity: 1;
    top: 5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* show dropdown submenu */

  .dropdown-subitem:hover > .dropdown-submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* home page */
  .main {
    grid-template-columns: 3fr 3fr;
    align-items: center;
    /* margin-top: 6rem; */
  }

  .main-content h1,
  .main-content p {
    text-align: left;
  }

  .main-image {
    grid-area: 1/2/2/3;
  }
}
