{% extends 'base.html' %} {% block title %}Mobile Price Prediction{% endblock %}
{% block content %} {% load static %}
<div class="">
  <!-- Topbar -->
  {% include 'partials/_topbar.html' %}

  <!-- Dengue Report Main Content -->
  <section class="viz main-section container">
    <div class="heading-text">
      <span>Prediction </span>
      <h3>Mobile Price Prediction</h3>
      <p>
        Mobile price depends on various factors such as resolution, brand, size,
        weight, imaging quality, RAM, battery and cpu power. In this dataset, we
        want to estimate the price of mobile phones using the above features. In
        this dataset, we want to estimate the price of mobile phones using those
        features above.
      </p>
    </div>

    <!-- form, chart, and narration starts -->
    <div class="line-section2">
      <!-- form -->
      <div class="form-card">
        <form method="POST" action="">
          {% csrf_token %}

          <div class="form-section">

          <div class="select-menu input">
            <p class="input-name">Sales</p>
            <input type="text" id="sales" name="sales" value="" />
            <p class="sample">(example: 8)</p>
          </div>

          <div class="select-menu input">
            <p class="input-name">Weight</p>
            <input type="text" id="weight" name="weight" value="" />
            <p class="sample">(example: 1.350)</p>
          </div>

          <div class="select-menu input">
            <p class="input-name">Resolution</p>
            <input type="text" id="resolution" name="resolution" value="" />
            <p class="sample">(example: 16)</p>
          </div>

          <div class="select-menu input">
            <p class="input-name">PPI (Phone Pixel Density)</p>
            <input type="text" id="sales" name="sales" value="" />
            <p class="sample">(example: 3)</p>
          </div>

          <div class="select-menu input">
            <p class="input-name">CPU Core</p>
            <input type="text" id="cpu" name="cpu" value="" />
            <p class="sample">(example: 13)</p>
          </div>

          <div class="select-menu input">
            <p class="input-name">CPU Frequency</p>
            <input type="text" id="freq" name="freq" value="" />
            <p class="sample">(example: 8)</p>
          </div>

          <div class="select-menu input">
            <p class="input-name">Internal Memory</p>
            <input type="text" id="internal" name="internal" value="" />
            <p class="sample">(example: 2610)</p>
          </div>

          <div class="select-menu input">
            <p class="input-name">RAM</p>
            <input type="text" id="ram" name="ram" value="" />
            <p class="sample">(example: 7.4)</p>
          </div>

        </div>

          <button type="submit">
            Submit <i class="ri-send-plane-line"></i>
          </button>
        </form>

        <!-- result -->
        <div class="result">
          <p>Result: <span>00</span></p>
        </div>
        
      </div>

      
    <!-- form, chart, and narration ends -->
  </section>

  <!-- viz1 section end -->
</div>
<!-- End of Container -->
{% if messages %} {% for message in messages %}
<script>
  swal("{{ message }}");
</script>
{% endfor %} {% endif %} {% endblock %}
