{% extends 'base.html' %}

{% block title %}Data Visualization and Analytics | Home{% endblock %}

{% block content %}
{% load static %}
<div class="home-container">

    <!-- Topbar -->
    {% include 'partials/_topbar.html' %}

    <!-- Home Main Content -->
    <!-- main section start -->
    <section class="main main-section container">
        <div class="main-image">
          <img src="{% static '/images/front9.png' %}" alt="" />
        </div>
        <div class="main-content">
          <h1>
            Data Visualization
            <span class="viz-span"><i class="ri-computer-line"></i></span>
            & Analytics
            <span class="analytics-span"
              ><i class="ri-bubble-chart-line"></i
            ></span>
          </h1>
          <p>
            Develop dashboards for the web app, applying the principles of data
            storytelling to effectively communicate information about the data.
          </p>
        </div>
      </section>
      <!-- main section end -->

    </div>

    <!-- card section start -->
    <section class="cards cards-section container">
        <h2>Features</h2>
        <div class="cards-grid">
          <div class="card">
            <img src="{% static '/images/red1.png' %}" alt="" />
            <h4>Data Visualization</h4>
            <p>
              Explore the data using line charts, bar graphs, and geoplots.
              Visualize trends and patterns to gain insights.
            </p>
          </div>
          <div class="card">
            <img src="{% static '/images/blue1.png' %}" alt="" />
            <h4>Data Analytics</h4>
            <p>
              Make predictions and derive meaningful insights, including
              predictive analysis, from the data
            </p>
          </div>
          <div class="card">
            <img src="{% static '/images/red2.png' %}" alt="" />
            <h4>Dynamic Inputs</h4>
            <p>Explore the data dynamically by selecting different options.</p>
          </div>
        </div>
      </section>
      <!-- card section end -->

    <!-- footer section start -->
    <footer class="footer" id="footer">
        <div class="footer-content container">
          <div class="row">
            <div class="column">
              <p>&#169; 2024 QMC. All Rights Reserved.</p>
            </div>
            <div class="social-icons">
              <a href="#"><i class="ri-github-fill"></i></a>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer section end -->


</div>

    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}