{% extends 'base.html' %}

{% block title %}Project 1{% endblock %}

{% block content %}
{% load static %}
<div class="container">

    <!-- Topbar -->
    {% include 'partials/_topbar.html' %}

    <!-- Dengue Report Main Content -->
    <div class="viz-content">
        <!-- Page Headings -->
        <p class="page-subheading">Dashboard</p>
        <p class="page-heading">Dengue Data in the Philippines from 2016-2021</p>
        <div class="overview">The Dengue dataset spanning from 2016 to 2021 provides a comprehensive overview of Dengue fever cases in the Philippines, according to the Department of Health's Epidemiology Bureau.
            The dataset includes crucial information such as location, reported cases, deaths, date of occurrence, and regional classifications.
            Our dashboard aims to identify the number of dengue cases and total number of deaths in each province from year 2016 to 2021.
        </div>
        <div class="page-content">
            <div class="columns-container">
                <!-- Narration -->
                <div class="narration-column">
                    <div class="narration-display">
                        <hr class="narration-hr">
                        <p>{{ narration }}</p>
                    </div>
                </div>
                <!-- Form -->
                <div class="form-column">
                    <div class="form-display">
                        <form method="post">
                            {% csrf_token %}
                            <!-- <label for="date">Date:</label> -->
                            <input type="date" id="date" name="date">
                
                            <!-- <label for="month">Month:</label> -->
                            <div class="custom-select">
                                <span class="material-icons-sharp">expand_more</span>
                                <select id="month" name="month">
                                    <option value="">Select Month</option>
                                    {% for month in unique_months %}
                                        <option value="{{ month }}">{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                
                            <!-- <label for="year">Year:</label> -->
                            <div class="custom-select">
                                <span class="material-icons-sharp">expand_more</span>
                                <select id="year" name="year">
                                    <option value="">Select Year</option>
                                    {% for year in unique_years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                
                            <!-- <label for="location">Location:</label> -->
                            <!-- <select id="location" name="location">
                                <option value="">Select Location</option>
                                <option value="manila">Manila</option>
                            </select> -->

                            <div class="custom-select">
                                <span class="material-icons-sharp">expand_more</span>
                                <select id="location" name="location">
                                    <option value="">Select Location</option>
                                    {% for location in locations %}
                                        <option value="{{ location }}">{{ location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- End of Form -->

                    <!-- Chart -->
                    <div class="chart-column">
                        <div class="chart-display">
                            <img src="{{ graph_image }}" alt="Dengue Cases and Deaths Graph" class="dengue-chart">
                        </div>
                    </div>
                    <!-- End of Chart -->

                </div>
                <!-- End of Form Column -->
            </div>
            <!-- End of Column Container -->
        </div>
        <hr class="more-hr">
        <!-- End of Page Content -->
    </div>
</div>
<!-- End of Container -->

{% endblock %}