<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/logo.png' %}"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <!-- Chart.js -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script> -->

    <!-- remixicons cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- boxicons cdn -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- custom js -->

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div>
      <!-- Includes components with different container names
            and to dynamically manage the container class in the
            'base.html' based on the content of the specific page
        -->
      <div>{% block content %} {% endblock %}</div>
    </div>

    <!-- Scripts -->
    <!-- <script src="{% static 'js/index.js' %}"></script> -->
    <!-- <script src="{% static 'js/script.js' %}"></script> -->

    {% load static %}
    <!-- when every page that is rendered, access the
        pages are basically going to be wrapped in here
    -->
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    <!-- <script src="{% static 'js/project1.js' %}"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- Scroll Reveal Effects -->
    <!-- <script src="https://unpkg.com/scrollreveal"></script> -->

    {% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    {% endblock %}
  </body>
</html>
